.footer {
  position: relative;
  width: 100%;
  height: max(400vh, 1890px);
  &__wrap {
    @include flexCol-center;
    @include position-sticky;
    width: 100%;
    height: max(100vh, 945px);
    padding: 0 4.6vw;
    overflow: hidden;
  }
  &__effect {
    --circle: 100%;
    @include position-center;
    @include flexCol-center;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    background-color: var(--mainBg-color);
    clip-path: circle(var(--circle) at 50% 50%);
    &--text {
      display: flex;
      font-family: var(--font-eng);
      line-height: 1;
      color: #222;
      white-space: noWrap;
      span {
        opacity: 0;
        font-family: var(--font-eng);
        font-size: 12vw;
        color: var(--color-point)
      }
    }
  }
  &__info { opacity: 0; }
  &__tit { font-size: 1.2rem; color: #e65100; }
}
