.intro {
  position: relative;
  width: 100%;
  height: max(400vh, 1890px);
  &__inner {
    @include flexCol-center;
    @include position-sticky;
    width: 100%;
    height: max(100vh, 945px);
    padding: 0 4.6vw;
    overflow: hidden;
  }
  &__tit {
    @include flexCol-center;
    width: 100%;
    mix-blend-mode: hard-light;
    &--text {
      position: relative;
      font-family: var(--font-eng);
      font-size: 14rem;
      line-height: 1;
      span {
        display: block;
        font-family: var(--font-now);
        font-size: 7rem;
        color: var(--color-point)
      }
    }
  }
  &__desc {
    @include flexCol-center;
    font-size: 1.2rem;
    color: #4e4e4e
  }
  &__ball {
    position: absolute;
    transform-origin: top center;
    top: -100vh;
    right: -10rem;
    width: 10rem;
    height: 10rem;
    background-color: var(--darkBg-color);
    border-radius: 50%;
  }
}