.intro {
  position: relative;
  width: 100%;
  height: max(400vh, 1890px);
  &__inner {
    @include flexCol-center;
    @include position-sticky;
    width: 100%;
    height: max(100vh, 945px);
    padding: 0 4.6vw;
    overflow: hidden;
  }
  &__tit {
    --circle: 100%;
    @include position-center;
    @include flexCol-center;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    background-color: var(--mainBg-color);
    clip-path: circle(var(--circle) at 50% 50%);
    &--text {
      position: relative;
      font-family: var(--font-eng);
      font-size: 14rem;
      line-height: 1;
      color: #222;
      span {
        display: block;
        font-family: var(--font-now);
        font-size: 7rem;
        color: var(--color-point)
      }
    }
  }
  &__desc {
    --scale: 60;
    @include flexCol-center;
    gap: 6vh;
    transform-origin: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    width: 100%;
    height: 100%;
    font-size: 40px;
    .desc__item {
      display: flex;
      align-items: center;
      gap: 2vw;
      color: #fff;
      white-space: noWrap;
      font-family: var(--font-iropke);
      &--top {
        align-self: flex-start;
        position: relative;
        font-size: 5rem;
        &--text {
          font-size: 4rem;
        }
      }
      &--middle {
        position: relative;
        left: 7px;
        justify-content: center;
        position: relative;
        font-size: 3rem;
        &--text {
          font-size: 2rem;
        }
      }
      &--bottom {
        position: relative;
        left: 7px;
        justify-content: center;
        position: relative;
        font-size: 4rem;
        &--text {
          font-size: 3rem;
        }
      }
      &--img {width: 3rem; height: 3rem; border-radius: 50%; }
    }
  }
}
body {background-color: #000;}