.port {
  &__wrap {
    @include flexCol-center;
    gap: 7vw;
    width: 100%;
  }
  &__title {
    @include flex-center;
    height: 100vh;
    font-family: var(--font-iropke);
    font-size: 14vw;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    &:nth-child(1 of .port__item) {
      .imgBox__front {
        h2 {
          --after-width1: 100%;
          &::after {
            width: var(--after-width1);
          }
        }
      }
      .item {
        --textColor-progress1: 0%;
        &__title {
          background: linear-gradient(90deg, #1b6856 var(--textColor-progress1), transparent 0%);
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &:nth-child(2 of .port__item) {
      .imgBox__front {
        background-color: rgb(67, 144, 100);
        h2 {
          --after-width2: 100%;
          &::after {
            left: 0;
            width: var(--after-width2);
            background-color: rgb(67, 144, 100);
          }
        }
      }
      .item {
        --textColor-progress2: 0%;
        &__title {
          background: linear-gradient(270deg, #1b6856 var(--textColor-progress2), transparent 0%);
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &:nth-child(3 of .port__item) {
      .imgBox__front {
        background-color: rgb(85, 158, 97);
        h2 {
          --after-width3: 100%;
          &::after {
            width: var(--after-width3);
            background-color: rgb(85, 158, 97);
          }
        }
      }
      .item {
        --textColor-progress3: 0%;
        &__title {
          background: linear-gradient(90deg, #1b6856 var(--textColor-progress3), transparent 0%);
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &:nth-child(4 of .port__item) {
      .imgBox__front {
        background-color: rgb(137, 204, 140);
        h2 {
          --after-width4: 100%;
          &::after {
            left: 0;
            width: var(--after-width4);
            background-color: rgb(137, 204, 140);
          }
        }
      }
      .item {
        --textColor-progress4: 0%;
        &__title {
          background: linear-gradient(270deg, #1b6856 var(--textColor-progress4), transparent 0%);
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &--desc {
      flex: 0 0 33%;
      text-align: center;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      &__title {
        position: relative;
        width: 100%;
        font-family: var(--font-caorgen);
        font-size: 4vw;
        
        &::after {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color-point);
        }
      }
      &__skill {
        display: flex;
        width: 100%;
        &--tit {
          width:20%;
          text-align: center;
        }
        &--text {
          width: 80%;
          text-align: left;
          text-transform: capitalize;
        }
      }
      &__desc {
        display: flex;
        width: 100%;
        &--tit {
          width:20%;
          text-align: center;
        }
        &--text {
          width: 80%;
          text-align: left;
          text-transform: capitalize;
        }
      }
      &__git-link {
        display: flex;
        width: 100%;
        &--tit {
          width:20%;
          text-align: center;
        }
        &--text {
          width: 80%;
          text-align: left;
          text-transform: capitalize;
        }
      }
    }
    &--img {
      position: relative;
      flex-shrink: 0;
      width: 35vw;
      height: 20vw;
      padding: 4px;
      border-radius: 20px;
    }
    .imgBox {
      &__left { transform: rotate(-10deg); }
      &__right { transform: rotate(10deg); }
      &:hover {
        .imgBox__front {
          transform: rotateY(180deg);
          opacity: 0;
        }
        .imgBox__behind {
          transform: rotateY(0);
          opacity: 1;
        }
      }
      &__item {
        position: absolute; top: 0; left: 0;
      }
      &__front {
        opacity: 1;
        transform: rotateY(0);
        transition: all 1s ease-in-out;
        width: 100%;
        height: 100%;
        padding: 5px;
        background-color: rgb(27, 104, 86);
        border-radius: 16px;
        h2 {
          @include flexCol-center;
          position: relative;
          width: 100%;
          height: 100%;
          border: 2px solid var(--mainBg-color);
          border-radius: 11px;
          font-family: var(--font-caorgen);
          font-size: 3vw;
          color: var(--mainBg-color);
          span {
            font-size: 2vw;
          }
          &::after{
            content: "";
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            position: absolute;
            height: 60px;
            background-color: rgb(27, 104, 86);
          }
        }
      }
      &__behind {
        opacity: 0;
        overflow: hidden;
        transform: rotateY(180deg);
        transition: all 1s ease-in-out;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

}