@font-face {
  font-family: 'poppinsB';
  src: url(../../fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: 'poppins';
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'bodoni';
  src: url(../../fonts/BodoniFLF-Roman.ttf);
}
@font-face {
  font-family: 'now';
  src: url(../../fonts/Now-Thin.otf);
}
@font-face {
  font-family: 'nowB';
  src: url(../../fonts/Now-Medium.otf);
}
@font-face {
  font-family: 'rouge';
  src: url(../../fonts/RougeScript-Regular.ttf);
}
@font-face {
  font-family: 'caorgen';
  src: url(../../fonts/caorgenpersonaluseonly-x3z02.otf);
}
@font-face {
  font-family: "iropke";
  src: url(../../fonts/IropkeBatangM.otf);
}