:root {
  --mainBg-color: #eeeae4;
  --darkBg-color: #222;

  --font-poppins: 'poppins';
  --font-eng: 'bodoni';
  --font-now: 'now';
  --font-nowB: 'nowB';
  --font-rouge: 'rouge';
  --font-caorgen: 'caorgen';
  --font-iropke: 'iropke';

  --color-point: #1b6856;
  --color-about: #b6a79a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}