:root {
  --mainBg-color: #f3ede8;
  --font-poppins: 'poppins';
  --font-eng: 'bodoni';
  --font-now: 'now';
  --font-nowB: 'nowB';
  --color-point: #1b6856;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}